#products {
  display: flex;
  flex-direction: column;
  background-color: white;

  h2 {
    background-color: lightgray;
    color: black;
    margin: 0;
    padding: 5px;
  }

  #main {
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 800px) {
  #products {
    flex-direction: column;
  }
}